*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
    font-family:Arial, sans-serif;
}

body{
    background:#0f172a;
    color:white;
    transition:0.3s;
    overflow-x:hidden;
}

/* Progress Bar */
#progress-bar{
    position:fixed;
    top:0;
    left:0;
    width:0%;
    height:4px;
    background:#38bdf8;
    z-index:9999;
}

/* Navbar */
.navbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:15px 30px;
    background:#1e293b;
    display:flex;
    justify-content:space-between;
    align-items:center;
    z-index:1000;
}

.logo{
    color:#38bdf8;
}

.nav-links{
    list-style:none;
    display:flex;
    gap:20px;
}

.nav-links a{
    text-decoration:none;
    color:white;
    transition:0.3s;
}

.nav-links a:hover,
.nav-links a.active{
    color: #38bdf8;
}

.menu-toggle{
    display:none;
    font-size:28px;
    cursor:pointer;
}

#theme-toggle{
    border:none;
    background:none;
    color:white;
    font-size:20px;
    cursor:pointer;
}
.light-mode{
    background: white;
    color: #08071f;
}

.light-mode section{
    background: whitesmoke;
    color: #1c2946;
}

.light-mode .project-card,
.light-mode .skill-card,
.light-mode .nav-links{
    background: #e2e8f0;
    color: #1d253a
}

.hero-text{
    margin-top: 15px;
    font-size: 18px;
    color: #cbd5e1;
    line-height: 1.7;
}

h1 span{
    color: #38bdf8;
}

/* Hero */
.hero{
    min-height:100vh;
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:50px;
    padding:120px 10%;
    flex-wrap:wrap;
}

.hero-text{
    flex:1;
}

.hero-text h1{
    font-size:3rem;
    margin-bottom:15px;
}

.hero-text span{
    color:#38bdf8;
    text-shadow: 0 0 20px rgba(56,189,248,0.4);
}

#typing{
    color:#38bdf8;
    margin-bottom:15px;
}

.hero-text p{
    color:#cbd5e1;
    line-height:1.7;
    margin-bottom:20px;
}

.hero-buttons{
    display:flex;
    gap:15px;
}

.btn,
.btn-outline{
    text-decoration:none;
    padding:12px 20px;
    border-radius:8px;
    transition:0.3s;
}

.btn{
    background:#38bdf8;
    color:#0f172a;
}

.btn-outline{
    border:2px solid #38bdf8;
    color:#38bdf8;
}

.btn:hover,
.btn-outline:hover{
    transform:translateY(-3px);
    box-shadow:0 10px 25px rgba(44, 56, 223, 0.87)
}

.hero-image img{
    width:280px;
    height:280px;
    border-radius:50%;
    object-fit:cover;
    border:4px solid #38bdf8;
}

.hero-image img{
    animation: float 3s ease-in-out infinite;
}

@keyframes float{
    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(-15px);
    }

    100%{
        transform: translateY(0);
    }
}

/* Sections */
section{
    padding:80px 10%;
}

.section-title{
    text-align:center;
    margin-bottom:40px;
    font-size:2rem;
    color:#38bdf8;
}

.about-text{
    max-width:700px;
    margin:auto;
    text-align:center;
    line-height:1.8;
    color:#cbd5e1;
}

/* Skills */
.skills-container{
    max-width:800px;
    margin:auto;
}

.skill{
    margin:25px 0;
}

.progress{
    width:100%;
    height:12px;
    background:#334155;
    border-radius:20px;
    overflow:hidden;
}

.progress-bar{
    height:100%;
    background:#38bdf8;
}

.html{
    width:90%;
}

.css{
    width:85%;
}

.js{
    width:75%;
}

/* Services */
.services-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.service-card{
    background:#1e293b;
    padding:25px;
    border-radius:15px;
    text-align:center;
    transition:0.3s;
}

.service-card:hover{
    transform:translateY(-10px);
    box-shadow:0 10px 25px rgba(134, 70, 219, 0.87)
}

.service-card h3{
    margin-bottom:10px;
    color:#38bdf8;
}

/* Projects */
.projects-container{
    display:grid;
    grid-template-columns:repeat(3,minmax(250px,1fr));
    gap:25px;
}


.project-card{
    background: rgba(255,255,255,0.05);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    transition: 0.4s;
    backdrop-filter: blur(10px);
}

.project-card:hover{
    transform:translateY(-10px);
    box-shadow:0 10px 25px rgba(134, 70, 219, 0.87)
}


.project-card img{
    width:100%;
    height:150px;
    object-fit:cover;
    border-radius: 15px;
    margin-bottom: 15px;
}

.project-content{
    padding:20px;
}

.project-content h3{
    margin-bottom:10px;
    color: #38bdf8;
}

.project-content p{
    color:#cbd5e1;
    line-height: 1.6;
    margin-bottom:15px;
}

.project-links{
    display:flex;
    gap:10px;
}

.project-links a{
    text-decoration:none;
    background:#38bdf8;
    color:#0f172a;
    padding:8px 14px;
    border-radius:6px;
    font-weight:bold;
}

/* Contact */
form{
    max-width:600px;
    margin:auto;
    display:flex;
    flex-direction:column;
    gap:15px;
}

form input,
form textarea{
    padding:15px;
    border:none;
    border-radius:10px;
    outline:none;
}

form button{
    padding:15px;
    border:none;
    border-radius:10px;
    background:#38bdf8;
    color:#0f172a;
    font-weight:bold;
    cursor:pointer;
}

/* Footer */
.footer{
    text-align:center;
    padding:40px 20px;
    background:#0b1b3b;
}

.social-links{
    margin:20px 0;
    display:flex;
    justify-content:center;
    gap:15px;
}

.social-links a{
    width:45px;
    height:45px;
    background:#0f172a;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    text-decoration:none;
    color:#000000;
    font-size:20px;
    transition:0.3s;
}

.social-links a:hover{
    transform:translateY(-5px);
}

/* Back To Top */
#topBtn{
    position:fixed;
    bottom:20px;
    right:20px;
    width:50px;
    height:50px;
    border:none;
    border-radius:50%;
    background:#38bdf8;
    color:white;
    cursor:pointer;
    display:none;
}

/* Reveal Animation */
.reveal{
    opacity:0;
    transform:translateY(40px);
    transition:0.8s ease;
}

.reveal.active{
    opacity:1;
    transform:translateY(0);
}

/* Light Mode */
body.light{
    background:#f8fafc;
    color:#0f172a;
}

body.light .navbar,
body.light .footer,
body.light .project-card,
body.light .service-card{
    background:#e2e8f0;
    color:#0f172a;
}

/* Mobile */
@media(max-width:768px){

    .menu-toggle{
        display:block;
    }

    .nav-links{
        position:fixed;
        top:70px;
        right:-100%;
        width:220px;
        height:100vh;
        background:#1e293b;
        flex-direction:column;
        align-items:center;
        padding-top:40px;
        transition:0.4s;
    }

    .nav-links.active{
        right:0;
    }

    .hero{
        text-align:center;
    }

    .hero-buttons{
        justify-content:center;
    }

    .hero-text h1{
        font-size:2.2rem;
    }
}

